*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

:root {
	--dark-color: #111313;
	--dark-green-color: #1A1F20;
	--vague-gray-color: #303030eb;
	--transparent-gray-color: #30303083;
	--dark-blue-color: #222D32;
	--accent-color: #E88873;
	--light-color: #fffafa;
	
	--error-color: #db5461;
	--shadow-color: #00000069;
	
	--background-color: var(--dark-color);
	--header-color: var(--dark-green-color);
	--nav-color: var(--dark-blue-color);
	--light-text-color: var(--light-color);
	--default-node-color: var(--dark-blue-color);
	--default-connection-color: var(--accent-color);
	--resize-color: var(--dark-green-color);
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
}

body:not([data-mouse_state="0"]) * {
	user-select: none;
}

img {
	width: 100%;
}

input, textarea {
	outline: 0;
	border: 0;
}

textarea {
	resize: none;
}

button {
	border: 0;
	padding: 0;
	border-radius: 4px;
}

button:hover {
	cursor: pointer;
}

svg * {
	fill: inherit;
}

.hidden {
	display: none !important;
}

.error {
	font-size: .9rem !important;
	color: var(--error-color) !important;
}

header {
	flex: 0 0 auto;
	
	padding: .625rem;
	background-color: var(--header-color);
	color: var(--light-text-color);
}

header h1 {
	font-size: 1.5rem;
}

.field-container {
	width: 100%;
	position: relative;
	flex-grow: 1;
	overflow: hidden;
}

main {
	--block-size: 2.5rem;

	position: absolute;
	background-color: var(--background-color);
	color: var(--light-text-color);

	background-size: var(--block-size) var(--block-size);
	background-image: 
		linear-gradient(to right, var(--transparent-gray-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--transparent-gray-color) 1px, transparent 1px);
}

.nav-container {
	position: absolute;
	margin: .5rem;
	max-height: 2.5rem;

	width: 12rem;
	overflow: hidden;
	
	border-radius: 4px;
	
	transition: max-height 350ms linear;
}

.nav-container.show {
	max-height: 30rem;
	overflow-y: auto;
}

nav {
	border-radius: 4px;
	background-color: var(--nav-color);
	color: var(--light-text-color);
}

nav,
#add-map-form {
	display: flex;
	flex-direction: column;
}

#add-map-form {
	border-bottom: 3px solid var(--header-color);
}

#edit-map-form > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#edit-map-form > div > input[type="radio"],
#edit-map-form > div > input[type="checkbox"] {
	display: none;
}

#toggle-nav-button,
#add-map-button,
#add-map-error,
#add-map-input,
#edit-map-form > div {
	height: 2.5rem;
	border-radius: 0px;
	background-color: transparent;
	color: var(--light-text-color);

	text-align: left;
	transition: backdrop-filter 120ms linear;
}

#toggle-nav-button {
	text-align: center;
}

#edit-map-form > div:hover,
#add-map-button:hover {
	cursor: pointer;
	backdrop-filter: brightness(80%);
}

#add-map-button,
#add-map-error,
#add-map-input,
.map-label {
	padding: .5rem 1rem;
}

.map-label {
	height: 100%;
	flex-grow: 1;
}

.map-label:hover {
	cursor: pointer;
}

.map-edit,
.map-delete,
.map-save,
.map-cancel {
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;

	padding: .5rem .5rem;
	border-radius: 4px;
	background-color: transparent;
	color: var(--light-text-color);
	
	cursor: pointer;
}

:where(.map-edit, .map-delete, .map-save, .map-cancel):hover {
	background-color: var(--header-color);
}

:where(.map-edit, .map-delete, .map-save, .map-cancel) > svg {
	opacity: 0;
	width: 1rem;
	height: 1rem;

	fill: var(--light-text-color);
	filter: brightness(65%);

	transition: opacity 120ms linear;
}

#edit-map-form > div:hover svg {
	opacity: 1;
}

.map-input {
	height: 100%;
	width: 70%;
	flex-grow: 1;
	
	padding: .5rem 1rem;
	background-color: var(--accent-color);
	color: var(--header-color);
}

#edit-map-form > div:has(input[type="radio"]:checked) {
	background-color: var(--header-color);
}

#edit-map-form > div:has(input[type="checkbox"]:not(:checked))
	:where(.map-input, .map-save, .map-cancel),
#edit-map-form > div:has(input[type="checkbox"]:checked)
	:where(.map-label, .map-edit, .map-delete) {

	display: none;
}

#add-map-error {
	border-bottom: none;
	height: unset;
	padding-bottom: 0;
}

.tool-bar {
	position: absolute;
	inset: 0 0 auto 12.5rem;
	height: 2.5rem;
	margin: .5rem;
	
	display: flex;
	gap: .75rem;

	padding: .5rem;
	border-radius: 4px;
	background-color: var(--nav-color);
	color: var(--light-text-color);
}

.tool-bar button {
	height: 1.5rem;
	
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 8px;
	background-color: transparent;
	fill: var(--light-text-color);
}

.tool-bar svg {
	width: 1.5rem;
	height: 1.5rem;
}

body[data-mouse_state="3"] #add-node-button,
body[data-mouse_state="4"] #add-node-button,
body[data-mouse_state="9"] #add-connection-button,
body[data-mouse_state="10"] #add-connection-button,
body[data-mouse_state="11"] #add-connection-button,
body[data-mouse_state="12"] #add-connection-button,
body[data-mouse_state="13"] #remove-connection-button,
body[data-mouse_state="14"] #remove-connection-button {
	background-color: var(--light-text-color);
	fill: var(--nav-color);
}

.node-info {
	position: absolute;
	inset: 3rem -17rem 0 auto;
	margin: .5rem;
	width: 15rem;

	padding: .5rem;
	border-radius: 4px;
	background-color: var(--nav-color);
	color: var(--light-text-color);
	
	transition: right 250ms linear;
}

.node-info.show {
	right: 0;
}

.node-info h2 {
	text-align: center;
	text-wrap: wrap;
}

.node-info form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.node-info form > label {
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	
	border-bottom: 1px solid var(--header-color)
}

.node-info form > label:not(:first-of-type) {
	margin-top: 1.5rem;
}

.node-info input,
.node-info textarea {
	border-radius: 4px;
	padding: .5rem;
	background-color: var(--header-color);
	color: var(--light-text-color);
}

.node-info button[type="submit"] {
	background-color: var(--header-color);
	color: var(--light-text-color);
	padding: .25rem .5rem;
}

.map-extender {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--dark-color);
	color: var(--light-text-color);
	
	transition: background-color 150ms ease-in-out;
}

.map-extender:hover {
	background-color: var(--accent-color);
}

.map-extender[top],
.map-extender[bottom] {
	width: 100%;
	height: 1.5rem;
}

.map-extender[left],
.map-extender[right] {
	height: 100%;
	width: 1.5rem;
}

.map-extender[top] {
	padding-top: 3rem;
	height: 4.5rem;
	border-radius: 0 0 6px 6px;
}

.map-extender[right] {
	border-radius: 6px 0 0 6px;
}

.map-extender[bottom] {
	border-radius: 6px 6px 0px 0px;
}

.map-extender[left] {
	border-radius: 0px 6px 6px 0px;
}
